@page "/usersoverview"
@inherits UsersOverviewBase
@using BethanysPieShopHRM.Shared.DTOs

<h1 class="page-title">All Users</h1>
@if (Users == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="EmployeeTable">
        <thead>
            <tr>
                <th>User ID</th>
                <th>User UserName</th>
                <th>User Age</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var user in Users)
            {
                <tr>
                    <td>@user.Id</td>
                    <td>@user.Username</td>
                    <td>@user.Age</td>
                    <td>
                        <a href="@($"userdetail/{user.Id}")" class="btn btn-primary table-btn">
                            <i class="fas fa-info-circle">Details</i>
                        </a>
                    </td>
                    <td>
                        <button @onclick="@(x => EditUser(user))">Edit</button>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
<button @onclick="@AddUser" class="btn btn-dark table-btn quick-add-btn">&nbsp;&nbsp;&nbsp;&nbsp;</button>
<BethanysPieShop.Pages.Componets.AddUserDialog @ref="AddUserDialog" CloseEventCallBack="@AddUserDialog_OnDialogClose"></BethanysPieShop.Pages.Componets.AddUserDialog>
<BethanysPieShop.Pages.Componets.EditUserDialog @ref="EditUserDialog" CloseEventCallBack="@EditUserDialog_OnDialogClose"></BethanysPieShop.Pages.Componets.EditUserDialog>